body { 
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
}

.tv-container {
  position: relative;
  width: 700px;
  height: 550px;
  background-color: black;
  margin-right: 10px;
}

.tv-screen {
  position: absolute;
  top: 9%;
  left: 7%;
  width: 86%;
  height: 72%;
  overflow: hidden;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.8) 70%, black 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease-in-out;
}

.tv-screen.on {
  background: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
}

video.on {
  display: block;
}

.tv-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/images/tvclean.webp') no-repeat center center;
  background-size: contain;
}

.button-panel {
  position: absolute;
  bottom: 7%;
  left: 37.3%;
  display: flex;
  gap: 9px;
}

.button-panel button {
  width: 10px;
  height: 10px;
  background: radial-gradient(circle, rgba(192, 192, 192, 0.5), rgba(0, 0, 0, 0) 70%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.6),
          inset 0 -1px 2px rgba(0, 0, 0, 0.4),
          0 0 10px rgba(192, 192, 192, 0.6);
}

.button-panel button:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8),
          0 0 30px rgba(192, 192, 192, 0.6);
}

.button-panel button:active {
  background: linear-gradient(145deg, #e0e0e0, #b0b0b0);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4),
          0 0 5px rgba(255, 255, 255, 0.5);
}

#power {
  width: 25px;
  height: 25px;
  background: radial-gradient(circle, rgba(192, 192, 192, 0.5), rgba(0, 0, 0, 0) 70%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.6),
          inset 0 -1px 2px rgba(0, 0, 0, 0.4),
          0 0 15px rgba(192, 192, 192, 0.8);
  margin-top: -9px;
  margin-left: 5px;
}

.spacer {
  width: 41px;
  height: 10px;
}

.channel-display {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
  display: none;
}

.notification {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  color: limegreen;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  z-index: 15;
  text-align: center;
}

.glowing-button {
  position: absolute;
  bottom: 7%;
  left: 54.2%;
  transform: translateX(-50%);
  width: 14px;
  height: 14px;
  background-color: red;
  border-radius: 20%;
  box-shadow: 0 0 5px red, 0 0 10px red, 0 0 10px red;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.glowing-button.on {
  background-color: limegreen;
  box-shadow: 0 0 5px limegreen, 0 0 10px limegreen, 0 0 10px limegreen;
}

.tv-guide {
  width: 200px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding-top: 10px;
  overflow-y: auto;
  border: none;
  border-radius: 10px;
}

.tv-guide h2 {
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.category-item,
.channel-item {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid grey;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-item:hover,
.channel-item:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.channel-item.active {
  background-color: rgba(128, 128, 128, 0.4);
}

.back-button {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: grey;
  color: black;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button:hover {
  background-color: black;
  color: grey;
}
